infrastructure/n8n/flows/refund-spike-watch.json
{
  "name": "refund-spike-watch",
  "active": false,
  "nodes": [
    {
      "parameters": {
        "rule": { "interval": [{ "field": "cronExpression", "expression": "0 * * * *" }] }
      },
      "id": "cron",
      "name": "Hourly",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "command": "=cat {{ $env.EMPIRE_REPO_PATH }}/ops/cache/money.json 2>/dev/null || echo '{}'"
      },
      "id": "read",
      "name": "Read money.json",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [420, 300]
    },
    {
      "parameters": {
        "functionCode": "let cache;\ntry { cache = JSON.parse($input.item.json.stdout || '{}'); } catch { return []; }\nconst spikes = cache.refundSpikes || [];\nif (spikes.length === 0) return [];\nconst lines = spikes.map(s => `• ${s.sku}: ${s.refundCount24h} refunds (${(s.refundRate24h*100).toFixed(1)}%)`);\nreturn [{ json: {\n  priority: 'P0',\n  source: 'refund-spike-watch',\n  message: `Refund spike detected on ${spikes.length} SKU(s):\\n${lines.join('\\n')}`,\n  url: ($env.EMPIRE_CONSOLE_BASE_URL || 'http://localhost:4327') + '/check/money'\n} }];"
      },
      "id": "decide",
      "name": "Check spikes",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [620, 300]
    },
    {
      "parameters": { "source": "parameter", "workflowId": "REPLACE_WITH_TELEGRAM_ROUTER_ID" },
      "id": "router",
      "name": "→ telegram-router",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1,
      "position": [820, 300]
    }
  ],
  "connections": {
    "Hourly":          { "main": [[{ "node": "Read money.json",   "type": "main", "index": 0 }]] },
    "Read money.json": { "main": [[{ "node": "Check spikes",      "type": "main", "index": 0 }]] },
    "Check spikes":    { "main": [[{ "node": "→ telegram-router", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "empire-console" }, { "name": "P0" }]
}
