infrastructure/n8n/workflows/W31-etsy-token-manager.json
{
  "name": "W31 — Etsy Token Manager",
  "nodes": [
    {
      "id": "w31-n01a",
      "name": "Manual Trigger (init/test)",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [200, 200],
      "parameters": {}
    },
    {
      "id": "w31-n01b",
      "name": "Cron Every 50 Min",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [200, 400],
      "parameters": {
        "rule": {
          "interval": [
            { "field": "minutes", "minutesInterval": 50 }
          ]
        }
      }
    },
    {
      "id": "w31-n01c",
      "name": "Called by Sub-Workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [200, 600],
      "parameters": {}
    },
    {
      "id": "w31-n02",
      "name": "Read State + Check Expiry",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [500, 400],
      "parameters": {
        "jsCode": "// Etsy Token Manager — single source of truth for current access_token.\n// State lives in workflow static data ($getWorkflowStaticData('global'))\n// which n8n persists across workflow runs.\n//\n// First-time init: pass { init_refresh_token, init_keystring, init_shared_secret }\n// via Manual Trigger input. Subsequent runs read state automatically.\n\nconst sd = $getWorkflowStaticData('global');\nconst input = $input.first()?.json || {};\n\n// One-time init from Manual Trigger input (won't overwrite if state already populated)\nif (input.init_refresh_token) {\n  sd.refresh_token = String(input.init_refresh_token).trim();\n  sd.keystring     = String(input.init_keystring || '').trim();\n  sd.shared_secret = String(input.init_shared_secret || '').trim();\n  sd.expires_at    = 0; // force immediate refresh on this run\n  console.log('Initialized static data from input');\n}\n\nif (!sd.refresh_token || !sd.keystring || !sd.shared_secret) {\n  throw new Error('Token manager not initialized. Run the Manual Trigger with { init_refresh_token, init_keystring, init_shared_secret } in the input first.');\n}\n\nconst now = Date.now();\nconst expiresAt = Number(sd.expires_at) || 0;\nconst BUFFER_MS = 5 * 60 * 1000; // refresh if < 5 min remaining\nconst needsRefresh = (expiresAt - now) < BUFFER_MS;\n\nreturn [{\n  json: {\n    needs_refresh: needsRefresh,\n    refresh_token: sd.refresh_token,\n    keystring: sd.keystring,\n    shared_secret: sd.shared_secret,\n    current_access_token: sd.access_token || null,\n    current_expires_at: expiresAt,\n    now,\n  }\n}];\n"
      }
    },
    {
      "id": "w31-n03",
      "name": "Needs Refresh?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [800, 400],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "leftValue": "={{ $json.needs_refresh }}",
              "rightValue": true,
              "operator": { "type": "boolean", "operation": "true", "singleValue": true }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      }
    },
    {
      "id": "w31-n04",
      "name": "Refresh Etsy Token",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [1100, 250],
      "parameters": {
        "method": "POST",
        "url": "https://api.etsy.com/v3/public/oauth/token",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            { "name": "Content-Type", "value": "application/x-www-form-urlencoded" }
          ]
        },
        "sendBody": true,
        "contentType": "form-urlencoded",
        "bodyParameters": {
          "parameters": [
            { "name": "grant_type",    "value": "refresh_token" },
            { "name": "client_id",     "value": "={{ $json.keystring }}" },
            { "name": "refresh_token", "value": "={{ $json.refresh_token }}" }
          ]
        },
        "options": { "response": { "response": { "fullResponse": false } } }
      }
    },
    {
      "id": "w31-n05",
      "name": "Persist New Tokens",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [1400, 250],
      "parameters": {
        "jsCode": "// Save refreshed tokens to workflow static data.\n// Etsy rotates refresh_token on every refresh — must save both.\nconst sd = $getWorkflowStaticData('global');\nconst resp = $input.first().json;\n\nif (!resp.access_token || !resp.refresh_token) {\n  throw new Error('Refresh response missing tokens: ' + JSON.stringify(resp).slice(0, 200));\n}\n\nsd.access_token  = String(resp.access_token);\nsd.refresh_token = String(resp.refresh_token);\nsd.expires_at    = Date.now() + (Number(resp.expires_in || 3600) - 60) * 1000;\nsd.last_refresh  = new Date().toISOString();\n\nreturn [{\n  json: {\n    refreshed: true,\n    access_token: sd.access_token,\n    keystring: sd.keystring,\n    shared_secret: sd.shared_secret,\n    expires_at: sd.expires_at,\n    expires_at_iso: new Date(sd.expires_at).toISOString(),\n  }\n}];\n"
      }
    },
    {
      "id": "w31-n06",
      "name": "Use Current Token",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1100, 550],
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "a1", "name": "refreshed",        "value": false,                                            "type": "boolean" },
            { "id": "a2", "name": "access_token",     "value": "={{ $json.current_access_token }}",              "type": "string" },
            { "id": "a3", "name": "keystring",        "value": "={{ $json.keystring }}",                         "type": "string" },
            { "id": "a4", "name": "shared_secret",    "value": "={{ $json.shared_secret }}",                     "type": "string" },
            { "id": "a5", "name": "expires_at",       "value": "={{ $json.current_expires_at }}",                "type": "number" },
            { "id": "a6", "name": "expires_at_iso",   "value": "={{ new Date($json.current_expires_at).toISOString() }}", "type": "string" }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "w31-n07",
      "name": "Build Auth Headers",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [1700, 400],
      "parameters": {
        "assignments": {
          "assignments": [
            { "id": "h1", "name": "Authorization", "value": "=Bearer {{ $json.access_token }}",                          "type": "string" },
            { "id": "h2", "name": "x-api-key",     "value": "={{ $json.keystring }}:{{ $json.shared_secret }}",          "type": "string" },
            { "id": "h3", "name": "access_token",  "value": "={{ $json.access_token }}",                                  "type": "string" },
            { "id": "h4", "name": "expires_at",    "value": "={{ $json.expires_at }}",                                    "type": "number" },
            { "id": "h5", "name": "refreshed",     "value": "={{ $json.refreshed }}",                                     "type": "boolean" }
          ]
        },
        "options": {}
      }
    }
  ],
  "connections": {
    "Manual Trigger (init/test)": {
      "main": [
        [ { "node": "Read State + Check Expiry", "type": "main", "index": 0 } ]
      ]
    },
    "Cron Every 50 Min": {
      "main": [
        [ { "node": "Read State + Check Expiry", "type": "main", "index": 0 } ]
      ]
    },
    "Called by Sub-Workflow": {
      "main": [
        [ { "node": "Read State + Check Expiry", "type": "main", "index": 0 } ]
      ]
    },
    "Read State + Check Expiry": {
      "main": [
        [ { "node": "Needs Refresh?", "type": "main", "index": 0 } ]
      ]
    },
    "Needs Refresh?": {
      "main": [
        [ { "node": "Refresh Etsy Token", "type": "main", "index": 0 } ],
        [ { "node": "Use Current Token", "type": "main", "index": 0 } ]
      ]
    },
    "Refresh Etsy Token": {
      "main": [
        [ { "node": "Persist New Tokens", "type": "main", "index": 0 } ]
      ]
    },
    "Persist New Tokens": {
      "main": [
        [ { "node": "Build Auth Headers", "type": "main", "index": 0 } ]
      ]
    },
    "Use Current Token": {
      "main": [
        [ { "node": "Build Auth Headers", "type": "main", "index": 0 } ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveExecutionProgress": false,
    "saveDataSuccessExecution": "all",
    "saveDataErrorExecution": "all",
    "executionTimeout": 60
  },
  "tags": [
    { "name": "etsy" },
    { "name": "auth" },
    { "name": "infrastructure" }
  ],
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": false
  }
}
