infrastructure/n8n/flows/shared/telegram-router.json
{
  "name": "shared/telegram-router",
  "active": false,
  "nodes": [
    {
      "parameters": {},
      "id": "trigger",
      "name": "When called by another workflow",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "values": {
          "string": [
            { "name": "priority", "value": "={{ $json.priority || 'P1' }}" },
            { "name": "source",   "value": "={{ $json.source || 'unknown' }}" },
            { "name": "message",  "value": "={{ $json.message }}" },
            { "name": "url",      "value": "={{ $json.url || $env.EMPIRE_CONSOLE_BASE_URL + '/check/alerts' }}" }
          ]
        },
        "options": {}
      },
      "id": "normalize",
      "name": "Normalize input",
      "type": "n8n-nodes-base.set",
      "typeVersion": 2,
      "position": [420, 300]
    },
    {
      "parameters": {
        "functionCode": "const id = ($json.id) || (typeof crypto !== 'undefined' && crypto.randomUUID ? crypto.randomUUID() : Date.now().toString(36) + '-' + Math.random().toString(36).slice(2,10));\nreturn [{ json: { ...$json, id, ts: new Date().toISOString() } }];"
      },
      "id": "stamp",
      "name": "Stamp id + timestamp",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [620, 300]
    },
    {
      "parameters": {
        "command": "=echo '{\"id\":\"{{ $json.id }}\",\"priority\":\"{{ $json.priority }}\",\"source\":\"{{ $json.source }}\",\"message\":{{ JSON.stringify($json.message) }},\"url\":\"{{ $json.url }}\",\"ts\":\"{{ $json.ts }}\"}' >> {{ $env.EMPIRE_REPO_PATH }}/ops/alerts.ndjson"
      },
      "id": "appendLog",
      "name": "Append alerts.ndjson",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [820, 300]
    },
    {
      "parameters": {
        "rules": {
          "rules": [
            { "operation": "equal", "value1": "={{ $json.priority }}", "value2": "P0", "output": 0 },
            { "operation": "equal", "value1": "={{ $json.priority }}", "value2": "P1", "output": 1 },
            { "operation": "equal", "value1": "={{ $json.priority }}", "value2": "P2", "output": 2 }
          ]
        }
      },
      "id": "switch",
      "name": "Route by priority",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 1,
      "position": [1020, 300]
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_P0_CHAT }}",
        "text": "=🚨 *P0 — {{ $json.source }}*\n{{ $json.message }}\n\n[Open in console]({{ $json.url }})",
        "additionalFields": { "parse_mode": "Markdown", "disable_notification": false }
      },
      "id": "tgP0",
      "name": "Telegram P0 (page)",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [1240, 180],
      "credentials": { "telegramApi": { "id": "REPLACE", "name": "telegram-empire-bot" } }
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_P1_CHAT }}",
        "text": "=⚠️ *P1 — {{ $json.source }}*\n{{ $json.message }}\n\n[Open]({{ $json.url }})",
        "additionalFields": { "parse_mode": "Markdown", "disable_notification": true }
      },
      "id": "tgP1",
      "name": "Telegram P1 (daily)",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [1240, 300],
      "credentials": { "telegramApi": { "id": "REPLACE", "name": "telegram-empire-bot" } }
    },
    {
      "parameters": {
        "chatId": "={{ $env.TELEGRAM_P2_CHAT }}",
        "text": "=ℹ️ *P2 — {{ $json.source }}*\n{{ $json.message }}\n\n[Open]({{ $json.url }})",
        "additionalFields": { "parse_mode": "Markdown", "disable_notification": true }
      },
      "id": "tgP2",
      "name": "Telegram P2 (weekly)",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1.1,
      "position": [1240, 420],
      "credentials": { "telegramApi": { "id": "REPLACE", "name": "telegram-empire-bot" } }
    }
  ],
  "connections": {
    "When called by another workflow": { "main": [[{ "node": "Normalize input", "type": "main", "index": 0 }]] },
    "Normalize input":                  { "main": [[{ "node": "Stamp id + timestamp", "type": "main", "index": 0 }]] },
    "Stamp id + timestamp":             { "main": [[{ "node": "Append alerts.ndjson", "type": "main", "index": 0 }]] },
    "Append alerts.ndjson":             { "main": [[{ "node": "Route by priority", "type": "main", "index": 0 }]] },
    "Route by priority": {
      "main": [
        [{ "node": "Telegram P0 (page)",   "type": "main", "index": 0 }],
        [{ "node": "Telegram P1 (daily)",  "type": "main", "index": 0 }],
        [{ "node": "Telegram P2 (weekly)", "type": "main", "index": 0 }]
      ]
    }
  },
  "settings": { "executionOrder": "v1" },
  "tags": [{ "name": "empire-console" }, { "name": "shared" }]
}
